src/main/resources/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://example.com/personservice"
        name="PersonService"
        targetNamespace="http://example.com/personservice">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://example.com/personservice"
                        schemaLocation = "Person.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getPersonRequest">
        <wsdl:part element="tns:getPersonRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPersonResponse">
        <wsdl:part element="tns:getPersonResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createPersonRequest">
        <wsdl:part element="tns:createPersonRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createPersonResponse">
        <wsdl:part element="tns:createPersonResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updatePersonRequest">
        <wsdl:part element="tns:updatePersonRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updatePersonResponse">
        <wsdl:part element="tns:updatePersonResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deletePersonRequest">
        <wsdl:part element="tns:deletePersonRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deletePersonResponse">
        <wsdl:part element="tns:deletePersonResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="PersonServicePortType">
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:getPersonRequest"/>
            <wsdl:output message="tns:getPersonResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createPerson">
            <wsdl:input message="tns:createPersonRequest"/>
            <wsdl:output message="tns:createPersonResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updatePerson">
            <wsdl:input message="tns:updatePersonRequest"/>
            <wsdl:output message="tns:updatePersonResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deletePerson">
            <wsdl:input message="tns:deletePersonRequest"/>
            <wsdl:output message="tns:deletePersonResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PersonServiceSoapBinding" type="tns:PersonServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction="http://example.com/personservice/getPerson"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPerson">
            <soap:operation soapAction="http://example.com/personservice/createPerson"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePerson">
            <soap:operation soapAction="http://example.com/personservice/updatePerson"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePerson">
            <soap:operation soapAction="http://example.com/personservice/deletePerson"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PersonService">
        <wsdl:port binding="tns:PersonServiceSoapBinding" name="PersonServicePort">
            <soap:address location="http://localhost:8080/ws/PersonService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
